!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Skelton70
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    .container
      .row
        .col
          - if notice.present?
            .alert.alert-success.alert-dismissible.fade.show.mt-3{ role: 'alert' }
              %i.fa-solid.fa-circle-info
              = notice
              %button.btn-close{ type: 'button', data: { bs: { dismiss: 'alert' } }, aria: { label: 'Close' } }
          - if alert.present?
            .alert.alert-danger.alert-dismissible.fade.show.mt-3{ role: 'alert' }
              %i.fa-solid.fa-circle-exclamation
              = alert
              %button.btn-close{ type: 'button', data: { bs: { dismiss: 'alert' } }, aria: { label: 'Close' } }
      = yield
